body {
  font-family: Arial, Helvetica, sans-serif;
  /* background: url('./green-background.png'); */
  /* background: url('./pink.jpg'); */
  /* background: url('./trees.png'); */
  background-size: cover;
  background-color: #dbedff;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
}

#browser-container {
  display: flex;
  padding-right: 1em;
  bottom: 0;
  background: url('./pink.jpg');
  border-radius: 25px;
}

#blockly-content {
  width: 50vw;
  height: 90vh;
  bottom: 0;
  padding-top: 1.5em;
}

#inner-unity {
  width: 60vw;
  height: 90vh;
  padding-top: 1.5em;
  bottom: 0;
  margin-left: 1em;
  margin-bottom: 1em;
}

li {
  color: rgba(255, 255, 255, 0);
  text-align: right;
}

.firebaseui-idp-icon {
  height: 15px;
  width: auto;
}

.firebaseui-idp-text-short {
  display: none;
}

.firebaseui-idp-text-long {
  margin-left: 4px;
}

.main {
  background: url('./green-background.png');
  height: 97vh;
  border-radius: 25px;
}

.tree-image {
  background: url('./trees.png');
  background-size: cover;
  height: 97vh;
}

.blockly-button-box {
  height: 15vh;
  background-color: #dbdbdb
}

#firebaseui {
  padding: 1em;
}
