body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dbedff;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
}

#browser-container {
  display: flex;
  padding-right: 1em;
  bottom: 0;
  background: url('./pink.jpg');
  border-radius: 25px;
}

#mobile-message {
  display: none;
}

@media (max-width: 1023px) {
  #browser-container {
    display: none;
  }
  #blockly-content {
    display: none;
  }
  #inner-unity {
    display: none;
  }
  .blockly-drawer {
    display: none;
  }
  #mobile-message {
    display: block;
    text-align: center;
  }
}

#blockly-drawer {
  min-height: '75vh';
  width: '50vw'
}

#blockly-content {
  width: 50vw;
  height: 90vh;
  bottom: 0;
  padding-top: 1.5em;
  min-height: '90vh';
}

#inner-unity {
  min-height: '90vh';
  display: flex;
  width: 50vw;
  height: 90vh;
  padding-top: 1.5em;
  bottom: 0;
  margin-left: 1em;
  margin-bottom: 1em;
}

#inner-blockly {
  display: flex;
}

li {
  color: rgba(255, 255, 255, 0);
  text-align: right;
}

.firebaseui-idp-icon {
  height: 15px;
  width: auto;
}

.firebaseui-idp-text-short {
  display: none;
}

.firebaseui-idp-text-long {
  margin-left: 4px;
}

.main {
  background: url('./green-background.png');
  height: 97vh;
  border-radius: 25px;
  text-align: center;
  vertical-align: middle
}

.blockly-button-box {
  height: 15vh;
  background-color: #dbdbdb
}

#firebaseui {
  padding-top: 1px;
  padding-right: 1em;
}

.main-heading {
  height: 40vh;
  width: 60vw;
  border-radius: 25px;
  margin: 0 auto;
}

.background-transform {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 98.8vw;
  height: 97vh;
  border-radius: 25px;
  will-change: transform;
  background: url('./trees.png');
  background-size: cover
}

.next-button {
  color:white;
  font-size: 10pt;
  border-radius: 8px;
  background-color: #008CBA;
  color: white;
  float: right;
  bottom: 6.5em;
  position: relative;
  outline: none;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 3px;
  margin-right: 1em;
  padding-bottom: 3px;
  border: 2px solid #017196;
}

.next-button:hover {
  color: pink;
}

.run-button {
  float: right;
  right: calc(50% - 3.5em);
  border-radius: 8px;
  background-color: #4CAF50;
  font-size: 20pt;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: .75em;
  margin-left: 2em;
  border: 2px solid #357a38;
  outline: none;
  position: relative
}

.run-button:hover {
  background-color: white;
  color: #4CAF50;
  border: 2px solid #4CAF50;
}

.restart-button {
  color:white;
  font-size: 10pt;
  border-radius: 7px;
  background-color: rgb(247, 144, 161);
  color: white;
  outline: none;
  border: 2px solid rgb(207, 57, 82);
  left: 1em;
  margin-top: 2em;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.restart-button:hover {
  color: rgb(247, 144, 161);
  border: 2px solid rgb(207, 57, 82);
  background-color: white;
}


.clear-board {
  color:white;
  font-size: 10pt;
  border-radius: 7px;
  background-color: rgb(179, 25, 255);
  color: white;
  outline: none;
  border: 2px solid rgb(119, 0, 179);
  left: 2em;
  margin-top: 2em;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.clear-board:hover {
  color: rgb(179, 25, 255);
  border: 2px solid rgb(119, 0, 179);
  background-color: white;
}
